Repository yuyamh/next-tutorial-prisma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "**/*.{ts,tsx,js,jsx,cjs,mjs,md,json,lintstagedrc,yml,yaml}": [
    "prettier --write"
  ]
}

T3 Env を設定
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/env.ts
Due: eslint --fix, prettier --write

t3-envを設定
  .prettier.config.js
Due: eslint --fix, prettier --write

Node.js と pnpm のバージョンを固定
  .tool-versions
  package.json
Due: prettier --write

Composite Action を作成
  .github/actions/setup/action.yml
  .tool-versions
Due: prettier --write

GitHub Actions で継続的インテグレーションを設定
  .github/workflows/continuous-integration.yml
Due: prettier --write

並び順を修正
  .prettier.config.js
Due: eslint --fix, prettier --write

GitHub Actions で継続的デプロイを設定
  .github/workflows/vercel-preview-deploy.yml
  .github/workflows/vercel-production-deploy.yml
Due: prettier --write

ローカルのデータベースを構築
  supabase/.gitignore
  supabase/config.toml
Due: none

Next.js の環境変数にデータベースの接続情報を登録
  .env.example
  src/env.ts
Due: eslint --fix, prettier --write

Prisma ORM を導入
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: prettier --write

スキーマを定義
  prisma/schema.prisma
Due: none

スキーマをフォーマット
  .lintstagedrc
  package.json
  prisma/schema.prisma
Due: prettier --write

スキーマをバリデーションするスクリプトを作成
  .lintstagedrc
  package.json
Due: prettier --write

マイグレーションを実行
  package.json
  prisma/migrations/20250822005818_init/migration.sql
  prisma/migrations/20250822010115_add_post_table/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: prettier --write

Prisma Studio スクリプトを追加
  package.json
Due: prettier --write

Prisma Client を作成
  src/server/db/prisma/index.ts
Due: eslint --fix, prettier --write

シードデータを作成
  package.json
  pnpm-lock.yaml
  src/server/db/prisma/seed.ts
Due: eslint --fix, prettier --write

Create の動作確認サンプルを作成
  src/server/db/prisma/sample/create.ts
Due: eslint --fix, prettier --write

Server Components から直接 DB 操作
  src/app/demo1/page.tsx
  src/env.ts
  src/server/db/prisma/sample/transaction.ts
Due: eslint --fix, prettier --write

データアクセスレイヤーを導入
  src/app/demo1/page.tsx
  src/server/dal/post.ts
  src/server/dal/user.ts
Due: eslint --fix, prettier --write

GitHub Actions のワークフローを更新
  .github/workflows/continuous-integration.yml
  .github/workflows/vercel-preview-deploy.yml
  .github/workflows/vercel-production-deploy.yml
Due: prettier --write

GitHub Actions のワークフローを更新
  .github/workflows/continuous-integration.yml
Due: prettier --write

GitHub Actions のワークフローを更新
  src/env.ts
Due: eslint --fix, prettier --write

GitHub Actions のワークフローを更新
  .github/workflows/vercel-preview-deploy.yml
  .github/workflows/vercel-production-deploy.yml
Due: prettier --write

Route Handler で Prisma Client を利用
  src/app/api/posts/route.ts
  src/app/api/users/route.ts
  src/app/demo2/_components/user-list.tsx
  src/app/demo2/page.tsx
  src/env.ts
  src/lib/route-handler-helper.ts
Due: eslint --fix, prettier --write

Server Actions で Prisma Client を利用
  src/app/actions/post-actions.ts
  src/app/actions/user-actions.ts
  src/app/demo3/_components/user-list.tsx
  src/app/demo3/page.tsx
Due: eslint --fix, prettier --write

ユーザーリストをサーバーコンポーネントにて表示
  src/app/demo4/page.tsx
Due: eslint --fix, prettier --write

ユーザーリストをクライアントコンポーネントにて表示
  src/app/demo4/_components/user-section.tsx
  src/app/demo4/page.tsx
Due: eslint --fix, prettier --write

ユーザー登録フォームを追加
  src/app/demo4/_components/user-section.tsx
Due: eslint --fix, prettier --write

ユーザー削除ボタンを追加
  src/app/actions/user-actions.ts
  src/app/demo4/_components/user-section.tsx
  src/server/dal/user.ts
Due: eslint --fix, prettier --write

Cache の問題を解消
  src/app/demo4/page.tsx
Due: eslint --fix, prettier --write

サーバー側で入力値を検証
  src/app/actions/user-actions.ts
  src/app/demo4/_components/user-section.tsx
  src/schemas/user.schema.ts
  src/server/dal/user.ts
Due: eslint --fix, prettier --write

クライアント側で入力値を検証
  src/app/demo4/_components/user-section.tsx
Due: eslint --fix, prettier --write

zod-prisma-types をインストール
  .gitignore
  .prettierignore
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: eslint --fix, prettier --write

modelSchema を利用
  prisma/schema.prisma
  src/app/actions/user-actions.ts
  src/app/demo4/_components/user-section.tsx
  src/schemas/user.schema.ts
  src/server/dal/user.ts
Due: eslint --fix, prettier --write
